@model ComputerModel

@{
    ViewData["Title"] = "HHEditorFor";
}

<h2>HHEditorFor</h2>

@using (Html.BeginForm("Submit", "HHEditorFor", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()
}